if tweets
   each tweet in tweets 
      div(class="card tweet-element")
         div(class="card-body")= tweet.content
         button(class="btn btn-danger mt-2 float-right" tweetId=tweet._id) X
               
            

